*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Poppins',sans-serif;


}

.hero{
	width: 100%;
	min-width: 100vh;
	min-height:100vh;
	background-image:url(images/back-image.png);
	background-position: center;
	background-size: cover;
	padding:10px 10%;
	overflow: hidden;
	position: relative;
}


nav{
	padding: 10px 0;
	display: flex;
	align-items: center;
	/* for y axis content */
	justify-content: space-between;
	/* for x axis content */
}

.logo{
	width: 140px;

}
/* 
list er lekha 1 row te and listing style none kore  */
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
}
/* text decoration none kore link er moto na dekhano */
nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight:  400 ;
}

.login_btn{
	text-decoration: none;
	color:#333;
	margin-right: 15px;
	font-weight: 400;

}

/* btn design for dowwnload app */
.btn{
	display: inline-block;
	text-decoration: none;
	padding: 14px  40px;
	color: #fff;
	background-image: linear-gradient(45deg,#df4881,#c430d7);
	font-size: 14px;
	border-radius: 30px;
	border-top-right-radius:0;
	transition: 0.5s;
}
/* 
content div er size r eku nice namate */
.content{
	margin-top:10%;
	max-width: 600px;
}
/* lekha ao boro korte  */
.content h1{
	font-size:70px;
	color: #222;
}
/* parar k margin dite */
.content p{
	margin: 10px 0 30px;
	color:#333 ;
	animation-delay: 0.5s;
	/* shbche age animation hote delay eta kom */
}

.content .btn{
	padding: 15px 80px;
	font-size: 16px;
	animation-delay: 1s;
}
/* hover korle top right radius gol hbe ektu */
.btn:hover{
	border-top-right-radius:30px ;
}

.feature_img{
	width: 530px;
	position: absolute;
	bottom: 0;
	right: 10%;
}
.feature_img.anim{
animation-delay: 1.5s;
/* ebhabe delay alada alda diye shundor kore srailly ekta animation pawa jabe */
}

/* shuru te gayeb thakbe e 30px y axit theke upor theke jete 0.5  duration e uthbe  */
.anim{
	opacity: 0;
	transform: translateY(30px);
	animation:moveup 0.5s linear forwards ;
}
/* moveup naam e keyframe set kore 100%e kono translatehbe na */
@keyframes moveup{
	100%{
		opacity:1;
		transform:translateY(0px);
	}
}